@use '../base/variables' as *;

.pin {
  display: block;
  width: 24px;
  height: 24px;
  overflow: hidden;

  &--on {
    width: 36px;
    height: 51px;
  }
}


.poi-count {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  cursor: pointer;
}